@import '../../colors.scss';

.profile_info {
    width: 21vw;
    min-width: fit-content;
    height: 70vh;
    max-height: 70vh;
    background: #fff;
    border-radius: 6px;
    border: 1px solid $dark_grey;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    color: $dark_grey;

    h2 {
        font-size: 2.5vh;
        display: flex; 
        justify-content: space-between;
    }
    .user_infos {
        display: flex;
        margin: 0 1.5vw 1.5vh;;

        .profile_image {
            min-width: 13vmin;
            min-height: 13vmin;
            position: relative;
            align-self: center;
            margin-top: 1rem;
            border-radius: 50%;
    
            .country_image, .image {
                border-radius: 50%;
            }
    
            .country {
                position: absolute;
                bottom: 0;
                left: 0;
                border-radius: 50%;
                border: 1px solid $dark_grey;
                width: 3.5vmin;
                height: 3.5vmin;
            }
    
            .gender {
                position: absolute;
                top: -8%;
                right: -8%;
            }
        }

        .infos {
            padding: 1.5rem 0 0 2rem;
            min-width: max-content;
            h6 { font-size: 2.2vh; }
        }
    }

    .date { 
        color: $light_grey; 
        font-size: 1.6vh;
    }
}