@import 'colors.scss';

.container {
    height: 100vh;
    max-height: 100vh;
    background: linear-gradient(180deg, rgba(204,225,244,1) 25%, rgba(255,255,255,1) 100%);
    padding: 1vw 2vw;
    

    .content {
        font-family: 'Ruda', sans-serif;
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-top: 4rem;
    }
}

