.container {
  min-height: 100vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #cce1f4), color-stop(50%, white), to(#cce1f4));
  background: linear-gradient(180deg, #cce1f4 20%, white 50%, #cce1f4 100%);
  font-family: 'Raleway';
}

.container .navbar {
  padding: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 0;
}

.container .navbar .logo {
  margin: -2em 0;
  text-align: center;
}

.container .navbar .logo p {
  color: #353535;
  margin: -1em;
}

.container .navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .navbar .menu .image {
  margin-right: 2em;
}

.container .navbar .menu .image:nth-child(1) {
  margin-right: 4em;
}

.container .input {
  width: 80%;
  border: 1px solid #353535;
  background: #fff;
  border-radius: 6px;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container button {
  border: 1px solid #353535;
  border-radius: 6px;
  text-align: center;
  background: #46B3BA;
  color: #fff;
  padding: 0.6em;
  margin: 1em;
  font-size: 1.2em;
  cursor: pointer;
}

.container h6 {
  font-size: 1.5em;
  font-weight: 400;
}

.container .main {
  font-family: 'Raleway';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

.container .main .home {
  text-align: center;
  margin-top: 6em;
}

.container .main .home h2 {
  color: #353535;
  font-weight: 300;
  font-size: 5vh;
}

.container .main .home .imageWrapper {
  margin: 2em;
  position: relative;
  width: 55vw;
  height: 62vh;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.container .main .home .imageWrapper .background {
  border-radius: 22px;
}

.container .main .card_search {
  position: absolute;
  top: 27vh;
  left: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 26em;
  height: 12em;
  border-radius: 22px;
  background-color: #284B63;
  color: #fff;
  padding: 1em;
}

.container .main .card_search p {
  font-size: 1em;
  font-weight: 300;
  margin: 0.5em 0 2em 0;
}

.container .main .card_discover {
  position: absolute;
  bottom: 12vh;
  right: 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 23em;
  height: 13em;
  border-radius: 22px;
  background-color: #284B63;
  color: #fff;
  padding: 1em;
}

.container .main .card_discover p {
  font-size: 1em;
  font-weight: 300;
}

.container .main .svg_home {
  position: absolute;
  bottom: 0;
  left: 5vh;
}

.container .main .see_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .main .see_more .arrow_down {
  margin-top: 10px;
  -webkit-animation: move 2s ease infinite;
          animation: move 2s ease infinite;
}

@-webkit-keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.container .more {
  color: #353535;
  padding: 5em;
}

.container .more h3 {
  font-size: 4vh;
  font-weight: 400;
}

.container .more .create_account {
  height: 87vh;
  position: relative;
}

.container .more .create_account p, .container .more .create_account .input {
  margin: 1em 0;
}

.container .more .create_account .input {
  width: 20vw;
}

.container .more .create_account .imageWrapper {
  width: 50vw;
  height: 56vh;
  position: relative;
  margin-top: 4vh;
  left: 12%;
}

.container .more .create_account .imageWrapper .background {
  border-radius: 22px;
}

.container .more .create_account .card_account {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 15%;
  right: 12%;
  padding: 2em;
  color: #fff;
  background: #284B63;
  border-radius: 22px;
  width: 36em;
  height: 14em;
}

.container .more .create_account .card_account p {
  font-weight: 300;
}

.container .more .create_account .card_account button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin: auto;
}

.container .more .create_account .svg {
  position: absolute;
  right: 0;
  width: 21vw;
  height: 30vh;
  bottom: 0;
}

.container .more .discover {
  position: relative;
  height: 85vh;
}

.container .more .discover .imageWrapper {
  width: 30vw;
  height: 76vh;
  position: relative;
  margin-top: 4em;
  left: 50%;
}

.container .more .discover .imageWrapper .background {
  border-radius: 22px;
}

.container .more .discover .card_discover {
  position: absolute;
  border-radius: 22px;
  background: #284B63;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 28em;
  height: 12em;
  padding: 2em;
  top: 16%;
  left: 17%;
}

.container .more .discover .card_discover p {
  font-weight: 300;
}

.container .more .discover .card_discover button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.container .more .discover .svg {
  position: absolute;
  bottom: 0;
  left: 10%;
}
/*# sourceMappingURL=Home.module.css.map */