@import 'colors.scss';

.container {
    max-height: 100vh;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(204,225,244,1) 0%, rgba(255,255,255,1) 100%);
    padding: 1vw 2vw;

    main {
        display: flex;
        max-height: 82vh;
        padding: 3vh 6vw;
        font-family: 'Ruda';
        color: $dark_grey;

        .profile_info {
            max-height: 90%;
            width: 20vw;
            background: #fff;
            border-radius: 6px;
            border: 1px solid $dark_grey;
            padding: 1vh;

            h2 {
                font-size: 2.5vh;
                display: flex; 
                justify-content: space-between;
            }
            .user_infos {
                display: flex;
                margin: 1vw;

                .avatar_wraper {
                    position: relative;
                    display: flex;
                    align-items: flex-end;
                    width: 10vmin;
                    height: 10vmin;
                    border-radius: 50%;
                    margin-right: 1vw;
                    .avatar { border-radius: 50% }
                }
                .infos {
                    h6 { font-size: 2.2vh; }
                }
            }
            .date { 
                color: $light_grey; 
                font-size: 1.6vh;
            }
            .level {
                line-height: 3.5vh;
                font-size: 2vh;
                padding: 1vh 1vw;
                p {
                    display: flex; 
                    align-items: center;
                }
            }
        }

        .profile_content {

        }
    }
}